.main {
  height: 70vh;
  width: 100%;
  background-color: #2F70FE;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative ;
}
.m_cont {
  height: 35%;
  width: 45%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.m_cont_text {
  height: 80%;
  width: 100%;

  margin-bottom: 1em;

}
.m_ct_h2{
  font-size: 3em;
  color: white;
  text-align: center;
}
.m_ct_p{
  font-size: 1rem;
  color: white;
  text-align: center;
  line-height: 2rem;
  font-weight: 500;

  margin-top: 1em;

}
.m_cont_but {
  margin-top: 1em;
  height: 1000px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}
.m_cb_but {
  background-color: black;

  border: none;
  
  font-weight: 600;
  color: white;

  height: 5.5vh;
  width: 10vw;

  transition-timing-function: ease-in-out;
  transition-duration: .15s;
  
  cursor: pointer;
}
.m_cb_but:hover {
  color:#2F70FE;
  background-color: white;
}
.m_img_boneco{
  position: absolute;
  bottom: -4em;
  left: 4em;
}
.m_img_hero {
  position: absolute;
  bottom: 0em;
  right: 4em;
}